          <footer>
            <button class="flip-button">contact</button>
          </footer>
        </div>

        <div class="card-back">
          
          <div class="contact-info">
            <h2> <%= email %> </h2>
            <p>email</p>
        
            <h2> <%= phone_number %> </h2>
            <p>phone number</p>
        
            <h2> <%= website %> </h2>
            <p>website</p>
        </div>
        <img src="/images/profile-back.png">

      </div>
    </div>
  </body>
</html> 