<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitekaartje</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <article class="card">
      <article class="card-front">
        <header>
          <h1> <%= name %> <%= surname %> </h1>
          <p>name</p>
        </header>
    </article>
    


    