

<%- include('./partials/head') %>

<main>
  <img src="/images/profile-front.png">
  <div class="occupation">
    <h2>FDND</h2>
    <p>student</p>
  </div>

  <div class="github">
    <h2> <%= github_handle %> </h2>
    <p>github</p>
  </div>
</main>

<article>
  <p> <%= bio %> </p>
</article>


<%- include('./partials/foot') %>
